:root {
    /* background-position: top right; */
    background-size: cover;
    background: #F8F8FF;
    width: 100%;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}
#body-wrapper {
    max-width: 100%;
    padding-top: 0;
    margin-top: 0;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: #000;
    font-family: "Josefin Sans", arial, sans-serif;
  }

/* Navigation bar */
.navbar.we-menu {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    min-height: 70px;
    background-color: transparent;
    border-bottom: 0px solid #000000;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar.we-menu {
        background-color: deepskyblue;
    }
}
.account-menu {
    background-color: #00A6FF;
}
.navbar-brand.we-logo {
    font-family: "Playball",cursive;
    color: white;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 40px;
}
.navbar-toggler.bi-toggler {
    background-color: white;
}
.navbar.we-menu .navbar-nav > li > a {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px !important;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.3px;
    padding: 15px 20px;
    color: white;
    text-transform: capitalize;
}
.navbar.we-menu .navbar-nav > li:last-child > a {
    padding-right: 0;
}
.navbar.we-menu .navbar-nav > li > a {
    position: relative;
    line-height: 40px;
}
.navbar.we-menu .navbar-nav > li > a:active,
.navbar.we-menu .navbar-nav > li > a:focus,
.navbar.we-menu .navbar-nav > li > a:hover {
    color: #DCDCDC;
}
.navbar.we-menu .navbar-nav > .active > a,
.navbar.we-menu .navbar-nav > .active > a:focus,
.navbar.we-menu .navbar-nav > .active > a:hover{
    background-color: transparent;
    color: #DCDCDC;
}
.navbar.bi-menu > .open > a,
.navbar.bi-menu > .open > a:focus,
.navbar.bi-menu > .open > a:hover{
    background-color: transparent;
    color: #DCDCDC;
}

.nav.business-nav > li > a {
    color: #000080;
}

.nav.business-nav > li > a:hover {
    color: #FFFFFF;
}

.nav.business-nav > .active > a:focus {
    color: #FFFFFF;
}

/* Main content */
.service-overflow,
.main-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
.main-content {
    min-height: 750px;
    /* background-color: #9fcdff; */
    color: white;
    background-image: url('images/1.jpg');
}
@media only screen and (max-width: 768px){
    .main-content {
        margin-top: 65px;
        padding-top: 70px;
    }
}
.form-box {
    /* background-color: #47525E; */
}
.main-login-page {
    margin: 0 300px 0 300px;
}
@media only screen and (max-width: 768px) {
    .main-login-page {
        margin: auto;
    }
}
.landing-content {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.create-business-page {
    margin: 0 300px 0 300px;
    background-color: #DCDCDC;
    padding: 40px;
    border-radius: 10px;
}
@media only screen and (max-width: 768px) {
    .create-business-page {
        margin: auto;
    }
}
.form-input-division {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
}
.input-default {
    width: 100%;
    padding: 10px 10px;
    border: 0;
    border-radius: 12px;
}
.form-text-input {
    background-color: #FFFFFF;
    opacity: 1;
    color: #040505;
}
.form-text-input:focus {
    background-color: deepskyblue;
    color: #FFFFFF;
}
.form-btn {
    background-color: deepskyblue;
    color: #FFFFFF;
}
.form-btn:hover {
    background-color: darkgreen;
    color: #FFFFFF;
}
.form-input-division > a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}
.form-input-division > a:hover {
    color: deepskyblue;
}
.main-view-page {
    margin: 0 5px 0 5px;
}
@media only screen and (max-width: 768px) {
    .main-view-page {
        margin: 0;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 13px;
    }
    .badge {
        font-size: 11px;
    }
}

.business-view {
    margin-bottom: 30px;
    border: 1px solid #e6e6e6;
    padding: 30px;
    background: #FFFFFF;
    border-radius: 15px;
  }
  
  .business-view .link-class {
    display: table;
    margin: 10px;
    text-decoration: none;
  }

  .business-view p {
    color: #000;
  }
  
  .business-view a .image, .business-view .link-class .text {
    display: table-cell;
    vertical-align: middle;
  }
  
  @media (max-width: 767.98px) {
    .business-view a .image, .business-view a .text {
      display: block;
    }
  }
  
  .business-view a .image {
    width: 200px;
    background-size: cover;
    background-position: center center;
  }
  
  @media (max-width: 767.98px) {
    .business-view a .image {
      width: 100%;
      height: 200px;
    }
  }
  
  .business-view .link-class .text {
    padding: 30px;
    width: calc(100 - 200px);
    border: 1px solid #e6e6e6;
    border-left: none;
  }
  
  @media (max-width: 767.98px) {
    .business-view .link-class .text {
      width: 100%;
      height: 200px;
      border: 1px solid #e6e6e6;
      border-top: none;
    }
  }
  
  .business-view .link-class .text h2 {
    font-size: 20px;
  }
  
  .business-view .link-class .text p {
    color: #999999;
    margin-bottom: 30px;
  }
  
  .business-view .link-class:hover {
    -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0.1, 0.1); */
    box-shadow: 0 4px 20px 0 #9fcdff;
    background: #e6e6e6;
  }

.business-text {
    color: #808080;
    font-family: "Josefin Sans", arial, sans-serif;
    font-weight: 10;
}
.view-left-side {
    padding: 10px 20px 10px 0;
}
.view-right-side {
    padding: 10px 0 10px 0;
    margin-left: 0;
}
.view-right-side > h3 {
    color: #77D353;
}
.view-right-side > h4 {
    color: #47525E;
}
.view-right-side > p {
    color: #47525E;
}
.view-image {
    max-width: 100%;
    max-height: 100%;
}
/* user account */
.account-menu {
    background-color: #00A6FF;
}
.navbar.account-menu .navbar-nav > li > a {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px !important;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.3px;
    padding: 15px 20px;
    color: white;
    text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
    .main-body {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 90px;
    }
}
.account-title {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 10px;
    margin-bottom: 60px;
    color: #000000;
    font-weight: 400;
}
.register-form-input {
    width: 100%;
    padding: 10px 10px;
    border-bottom: 2px solid #00A6FF;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.business-view .single-business {
    border-bottom: none;
}
/* footer */
.main-footer {
    padding: 30px;
    margin-top: 0;
    text-align: center;
    background: #C0C0C0;
}

.site-footer {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5em 0;
    background: #000;
  }
  
  .site-footer .post-entry-sidebar ul li a h4 {
    color: #fff;
  }
  
  .site-footer .footer-social li a > span {
    width: 30px;
  }
  
  .site-footer a {
    color: #fff;
  }
  
  .site-footer a:hover {
    opacity: .5;
  }
  
  .site-footer h3 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  
  .site-footer p {
    color: rgba(255, 255, 255, 0.5);
  }

.r-comment {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.r-username {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60;
} 

.comment-section {
    padding: 20px;
    margin-bottom: 20px;
}

.category-tags {
    margin-bottom: 30px;
    
}
.category-tags span {
    padding: 15px;
    background: #47525E;
    margin-bottom: 5px;
}
.category-tags a span {
    color: #FFFFFF;
}
.category-tags span:hover {
    background: #C0C0C0;
    color: #47525E;
}

.category-tags a:active {
    background: #C0C0C0;
}

.business-btn {
    margin: 10px;
}

.business-btn a {
    margin-right: 10px;
}
